@import url('https://fonts.googleapis.com/css?family=Flamenco|Thasadith:400,400i,700&display=swap');

header
{
    background-color: #fccbcb;
}

header img 
{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 150%;
    max-width: 150%;
}

body 
{
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


p 
{

  padding left: 45px;
padding right: 45px;


  font-size: 20px;
}

main
{

    color: gray;
}

h2 
{ 
    color: darkslategray;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}



 .header img {
     display: block;
     margin-left: auto;
     margin-right: auto; }


body h2 {text-align: center;
        font-size: 40px;}
h3 {font-size: 30px;
   text-align: center;
    color:darkslategray;}

 .header img 
{
     display: block;
     margin-left: auto;
    margin-right: auto; }


nav
{
    position: relative; /* for drop down menu */
}

nav ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a
{
    text-decoration: none;
}

nav li 
{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.2em;
}

/* Drop Down Menu */

.dropdown-content 
{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

/* Drop Down Menu End */

.center li
{
    float: none;
    position: absolute;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.center-right li 
{
  float: right;
    padding-top: 20px;
    padding-right: 130px;
    padding-left: 250px;
    top: 50%;
    left: 50%;
}

.center-slightright li 
{
  float: right;
    padding-top: 20px;
    padding-right: 190px;
    top: 50%;
    left: 50%;
}

.center-left li
{
    float: left;
    padding-top: 20px;
    padding-left: 225px;
    padding-right: 50px;
    top: 50%;
    left: 50%;
}

.center-slightleft li
{
    float: left;
    padding-top: 20px;
    padding-left: 100px;
    top: 50%;
    left: 50%;
}

.disappear
{
    display: none;
}

footer
{
    
    background-color: #fccbcb;
    text-align: center;
    color: #000000;
}

body
{
    margin-bottom: -140px;
}

/* Create Media Queries */
@media only screen and (max-width: 1024px) 
{
	
} 

@media only screen and (max-width: 768px) 
{ 
	
}